
<link rel="stylesheet" type="text/css" href="{{ asset('css/rating.css') }}" />
<div id="fb-root"></div>

<a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="btn btn-default"><i class="fa fa-facebook"></i><span>log in with facebook</span></a>

{% block body %}

{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('js/rating.js') }}"></script>